@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";

html { scroll-behavior: smooth; }
body { font-family: "Montserrat", sans-serif; }

@keyframes blink {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

.blink-fast {
  animation: blink .6s steps(1, start) infinite;
}
