@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@config "../tailwind.config.js";

html { scroll-behavior: smooth; }
body { font-family: "Montserrat", sans-serif; }
